@import "assets/fonts/ibm-plex-mono/font.css";
@import "assets/fonts/ibm-plex-sans/font.css";

body {
  margin: 0;
  font-family: 'IBM Plex Sans', ui-sans-serif, 'PingFang SC', '微软雅黑', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 1000px) {
    width: 100%;
  }

  @media (min-width: 1000px) {
    width: 1000px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }

  @media (min-width: 1400px) {
    width: 1400px;
  }
}

.textaligncenter {
  text-align: center;
}