@import "assets/fonts/ibm-plex-mono/font.css";
@import "assets/fonts/ibm-plex-sans/font.css";
@import "var";

body {
  margin: 0;
  .font-family--default;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 1000px) {
    width: 100%;
  }

  @media (min-width: 1000px) {
    width: 1000px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }

  @media (min-width: 1400px) {
    width: 1400px;
  }
}

.textaligncenter {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
}

.hover--dim {
  &:hover {
    filter: brightness(90%);
  }
}

.hover--dropShadow {
  &:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  }
}