@primary: #009688;
@primaryd: #004d40;
@primaryl: #e0f2f1;
@primaryll: #e5f3f2;
@primaryt: #004d40;
@navbar-height: 72px;

@indigol: #e8eaf6;
@indigo: #3f51b5;
@indigod:#1a237e;

@orangel: #fff3e0;
@orange: #ff9800;
@oranged: #e65100;

:root {
  --casual: 0;
  --wght: 400;
  --slnt: 0;
  --mono: 0;
}

.font-family--default {
  font-family: 'Recursive', ui-sans-serif, 'PingFang SC', '微软雅黑', sans-serif;
}

.font-family--default-V {
  font-family: 'Recursive Variable', ui-sans-serif, 'PingFang SC', '微软雅黑', sans-serif;
}

.hover--dim {
  &:hover {
    filter: brightness(90%);
  }
}

.hover--dropShadow {
  &:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  }
}

.textshadow--default {
  text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

@keyframes ModalIn--default {
  0% {
    transform: scale(.9) translate(-50%, -50%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes ModalIn--up {
  0% {
    transform: translateY(calc(-50% + 30px)) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ModalIn--down {
  0% {
    transform: translateY(calc(-50% - 30px)) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes RotateInPlace {
  0% {
    transform: rotate(0deg) translateX(2px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(2px) rotate(-360deg);
  }
}

@keyframes PopAppear {
  0% {
    transform: scale(1) translateX(2px);
  }

  50% {
    transform: scale(1.1) translateX(2px);
  }

  100% {
    transform: scale(1) translateX(2px);
  }
}

.animation--RotateInPlace {
  animation: RotateInPlace 2.2s linear .4s infinite, PopAppear .3s ease;
}